.navbar {
  background-color: #0c151a;
}
.navbar a img {
  width: 46px;
  height: 22px;
}
#hader-nav{
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
#hader-nav:hover{
    color: #2a85c6;
    text-decoration: underline;
}
.navbar-toggler{
    background-color: white;
}